body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
svg{
  overflow: visible;
  background-color: white;
}

body{
  font-family: monospace;
  margin: 40px !important;
  margin-top: 150px !important;
  overflow: hidden;
  background-color: #235b98 !important;
}

.axis{
  opacity: .5;
}

.line{
  fill: none;
  stroke: #93c55f;
  stroke-width: 3;
}

.area{
  fill: #e2f1d4;
}

.arear{
  fill: #daeeff;
}

.liner{
  fill: none;
  stroke: #70baff;
  stroke-width: 3;
}

.your-line{
  stroke: #f0f;
  stroke-width: 3;
  stroke-dasharray: 5 5;
}

p {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 100px;
}

.submit-prediction {
  position: absolute;
  top: 350px;
  left: 30%;
  width: 200px;
}

.see-average {
  position: absolute;
  top: 400px;
  left: 30%;
  width: 200px;
}